aiofiles==0.8.0
anyio==3.5.0
appdirs==1.4.4
asgiref==3.4.1
black==19.10b0
certifi==2021.5.30
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses
fastapi==0.75.2
h11==0.13.0
idna==3.3
immutables==0.17
importlib-metadata==4.8.3
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
numpy==1.19.5
opencv-python==4.5.5.64
pathspec==0.7.0
Pillow==8.4.0
pydantic==1.9.0
pytesseract==0.3.8
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
uvicorn==0.16.0
zipp==3.6.0
