.bg-account{
    background-color: #F8F8F8;
    background-image: url("../../media/pages/account-bg.svg");
    background-repeat: no-repeat;
    background-size: 523px 700px;
    background-position: center;
}