.bg-dashboard-grid{
    background-color: #f2f3f5;
}
.orgCallAPI-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}
.chart-item-hover:hover{
    background-color: rgba(240, 243, 249, 0.5);
}